<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>

  <packageSourceMapping>
    <packageSource key="nuget.org">
      <!-- Allow everything from nuget.org (broad, but simple) -->
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
